    <footer class="footer page-footer teal darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12 footer__contact__details">
                    <h5 class="white-text">Trent Davis</h5>
                    <div class="grey-text text-lighten-4">
                        <i class="fas fa-map-marker-alt"></i> Round Rock, Texas, United States<br>
                        <i class="fas fa-envelope"></i>
                        <span id="emailAddress">*************@gmail.com</span>
                        <small class="footer__contact__details--show-hide" id="emailToggle" data-visibility="hidden">Show</small>
                        <br>
                        <i class="fas fa-phone"></i>
                        <span id="phoneNumber">512.*******</span>
                        <small class="footer__contact__details--show-hide" id="phoneToggle" data-visibility="hidden">Show</small>
                    </div>
                </div>
                <div class="col l4 offset-l2 s12 footer__contact__details">
                    <h5 class="white-text"><a class="white-text" href="https://github.com/trentdavis78" target="_blank"><i class="fab fa-github"> Github</i></a></h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" target="_blank"
                                href="https://github.com/trentdavis78">https://github.com/trentdavis78
                                <i class="fas fa-external-link-square-alt"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="container">
                © 2019 Copyright
                <a class="grey-text text-lighten-4 right footer__icons" href="https://twitter.com/TrentDavis78" target="_blank"><i
                        class="fab fa-twitter-square fa-lg"></i></a>                
                <a class="grey-text text-lighten-4 right footer__icons" href="https://www.facebook.com/trent.a.davisII" target="_blank"><i
                        class="fab fa-facebook-square fa-lg"></i></a>
                <a class="grey-text text-lighten-4 right footer__icons" href="https://www.linkedin.com/in/trentdavis78/" target="_blank"><i
                class="fab fa-linkedin fa-lg"></i></a>
            </div>
        </div>
    </footer>
    <!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Easter Egg Cheat Sheet</h4>
        <p>&UpArrow;&nbsp;&UpArrow;&nbsp;&DownArrow;&nbsp;&DownArrow;&nbsp;&LeftArrow;&nbsp;&RightArrow;&nbsp;&LeftArrow;&nbsp;&RightArrow;&nbsp;B&nbsp;A&nbsp;</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>