{{> header }}
<div class="container">
    <div class="row">
        <div class="col l6 xl6 hide-on-med-and-down" style="position: relative; min-height:285px">
            {{!-- <img src="/images/image-1999636.webp" alt="" class="responsive-img noSelect"> --}}
            <div class="img-overlay custom">
                <img id="aio" src="/images/monitor.png" alt="" class="responsive-img noSelect">
                <div id="aioOverlay" style="display: none">
                    <svg id="dellLogo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="125px" height="125px"
                        viewBox="0 0 520 520" enable-background="new 0 0 520 520" xml:space="preserve">
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#F2F2F2" d="M257,54.271c15.355-0.731,32.308,1.471,45.4,4.4
                        c34.17,7.645,60.752,21.917,83.6,40.6c31.24,25.545,55.972,60.888,67.2,106.6c6.42,26.138,7.127,61.81,1,89.2
                        c-3.093,13.822-7.308,26.046-12.2,37.4c-15.122,35.094-37.82,61.432-66.8,82.4c-18.882,13.661-42.026,25.061-68,31.199
                        c-13.706,3.24-28.423,4.648-44.2,5.4c-15.735,0.749-31.131-1.387-45-4.4c-27.682-6.014-49.738-16.572-69.6-29.8
                        c-29.259-19.484-52.974-47.069-68.6-80.399C71.773,319.749,66.076,301,63,279.271c-5.507-38.906,2.787-78.913,14.8-105.8
                        c20.512-45.907,53.091-79.125,98.2-100.6c22.071-10.507,48.66-18.6,80.6-18.6C256.733,54.271,256.867,54.277,257,54.271z
                        M217.2,80.871c-35.061,8.831-63.054,26.322-84.2,48.6c-14.728,15.516-26.419,31.594-35.6,52.8
                        c-8.478,19.581-15.524,45.685-14.4,73.8c1.165,29.148,7.091,51.202,16.6,71.8c9.205,19.938,21.548,37.687,36.8,51.8
                        c15.35,14.204,31.789,26.344,53,35.6c19.913,8.69,45.463,15.878,73.6,14.601c13.923-0.633,27.101-1.997,39.2-5
                        c35.275-8.758,62.804-25.933,84.6-48.2c14.402-14.714,26.747-32.353,35.601-52.8c9.069-20.949,14.602-44.592,14.6-74
                        c-0.002-27.581-6.965-52.182-16.4-72c-19.035-39.984-48.918-69.048-89.8-87.4c-19.143-8.594-46.246-15.922-74-14.6
                        C242.442,76.554,229.362,77.807,217.2,80.871z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#F2F2F2" d="M235.4,199.67c3.392,2.681,8.349,6.48,12.6,9.8
                        c0.517,0.403,3.988,3.004,4,3.2c0.04,0.648-3.873,3.319-5,4.2c-11.675,9.13-24.616,19.312-35.8,28c2.153,2.447,5.036,4.164,7.6,6.2
                        c12.143-9.289,25.885-20.162,38.6-30.2c0.777-0.614,2.293-1.996,2.4-2c0.84-0.035,3.317,2.708,4.2,3.4
                        c4.151,3.251,8.55,6.512,12.6,9.6c-11.762,9.661-25.823,20.395-38.6,30.4c-0.594,0.465-2.401,2.034-2.4,2
                        c-0.017,0.582,3.194,2.727,3.8,3.2c1.656,1.295,2.965,2.021,3.8,3c13.834-10.699,27.566-21.5,41.2-32.4c0-9.867,0-19.733,0-29.6
                        c9.934,0.133,20.398-0.266,30,0.2c0,20.067,0,40.133,0,60.201c9.467,0.466,19.8,0.066,29.6,0.199c0,8.334,0,16.667,0,25
                        c-19.866,0-39.733,0-59.6,0c0-9.8,0-19.6,0-29.399c-16.062,12.139-32.556,25.577-48.8,38.2c-15.248-11.353-29.847-23.354-44.8-35
                        c-5.895,11.66-14.176,20.563-28,24.399c-13.974,3.879-33.162,0.806-50.6,1.8c-0.333-27.268-0.334-57.666,0-85.6
                        c17.338,1.346,36.454-2.466,50.6,1.6c13.462,3.87,22.27,12.667,27.6,24.6c7.458-5.243,14.751-11.175,22.2-17
                        C220.236,211.699,227.844,205.51,235.4,199.67z M140.8,269.271c8.71,0.558,14.897-0.053,19.8-4.2c8.26-6.986,6.462-23.92-2.2-29.2
                        c-4.298-2.62-10.165-2.862-17.6-2.6C140.8,245.271,140.8,257.271,140.8,269.271z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#F2F2F2" d="M352,208.471c9.934,0,19.866,0,29.8,0c0,20.2,0,40.4,0,60.6
                        c9.934,0,19.867,0,29.8,0c0,8.334,0,16.667,0,25c-19.933,0-39.866,0-59.8,0c0-28.333,0-56.666,0-85
                        C351.783,208.787,351.767,208.504,352,208.471z" />
                    </svg>
                </div>
                <svg id="power" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="55px"
                    viewBox="0 0 50 55" enable-background="new 0 0 50 55" xml:space="preserve">
                    <g>
                        <path fill="#ffffff" d="M25.172,54.948c-13.785,0-25-11.215-25-24.999c0-10.417,6.562-19.842,16.327-23.454
                        c1.177-0.436,2.484,0.166,2.92,1.343c0.436,1.178-0.166,2.485-1.343,2.92C10.086,13.714,4.718,21.426,4.718,29.949
                        c0,11.278,9.176,20.454,20.455,20.454s20.455-9.176,20.455-20.454c0-8.462-5.317-16.155-13.231-19.143
                        c-1.175-0.443-1.768-1.755-1.323-2.929c0.443-1.174,1.756-1.767,2.929-1.323c9.673,3.651,16.171,13.053,16.171,23.396
                        C50.172,43.733,38.958,54.948,25.172,54.948z" />
                    </g>
                    <g>
                        <path fill="#ffffff" d="M25,34.242c-1.255,0-2-1.018-2-2.273V2.879c0-1.255,0.745-2.273,2-2.273c1.255,0,2,1.018,2,2.273v29.09
                            C27,33.225,26.255,34.242,25,34.242z" />
                    </g>
                </svg>
                <div id="power__btn" data-power="on"></div>
                {{!-- <img id="laptop-2" src="/images/laptop-2.png" alt="" class="responsive-img noSelect"> --}}
                <img id="tablet" src="/images/tablet.png" alt="" class="responsive-img noSelect">
                <img id="phone" src="/images/phone.png" alt="" class="responsive-img noSelect">
            </div>
        </div>
        <div class="col l6 xl6 hide-on-large-only">
            <img src="/images/laptop.webp" alt="" class="responsive-img noSelect">
        </div>
        <div class="col s12 l6 xl6">
            <div class="card-panel grey portfolio-cta">
                <h2 class="white-text">Fully responsive, custom designed websites.
                </h2>
                <a href="/portfolio" class="btn teal darken-3 right waves-effect waves-light"><i
                        class="material-icons right">play_arrow</i> View
                    Portfolio</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 lg4 xl4">
            <div class="card">
                <div class="card-title card__home">
                    <div class="card__vector">
                        <i class="fas fa-user-tie"></i>
                    </div>
                    <span class="teal-text text-darken-3 card-title">About Me</span>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo sequi asperiores
                        voluptatibus aspernatur commodi omnis veniam rerum corrupti nulla inventore? Dicta
                        cumque quae corporis nihil minus, ipsa nulla quasi dolorem!</p>
                </div>
                <div class="card-action">
                    <a href="/about" class="btn teal darken-3 right waves-effect waves-light"><i
                            class="material-icons right">play_arrow</i>Read More
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 lg4 xl4">
            <div class="card">
                <div class="card-title card__home">
                    <div class="card__vector">
                        <i class="fas fa-code"></i>
                    </div>
                    <span class="teal-text text-darken-3 card-title">Services</span>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo sequi asperiores
                        voluptatibus aspernatur commodi omnis veniam rerum corrupti nulla inventore? Dicta
                        cumque quae corporis nihil minus, ipsa nulla quasi dolorem!</p>
                </div>
                <div class="card-action">
                    <a href="/services" class="btn teal darken-3 right waves-effect waves-light"><i
                            class="material-icons right">play_arrow</i>Read More
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 lg4 xl4">
            <div class="card">
                <div class="card-title card__home">
                    <div class="card__vector">
                        <i class="fas fa-cogs"></i>
                    </div>
                    <span class="teal-text text-darken-3 card-title">Resources</span>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo sequi asperiores
                        voluptatibus aspernatur commodi omnis veniam rerum corrupti nulla inventore? Dicta
                        cumque quae corporis nihil minus, ipsa nulla quasi dolorem!</p>
                </div>
                <div class="card-action">
                    <a href="/resources" class="btn teal darken-3 right waves-effect waves-light"><i
                            class="material-icons right">play_arrow</i>Read More
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer }}