{{> header }}
<div class="container">
    <div class="row">
        <div class="col l6 xl6 hide-on-med-and-down" style="position: relative; min-height:285px">
            {{!-- <img src="/images/image-1999636.webp" alt="" class="responsive-img noSelect"> --}}
            <div class="img-overlay custom">
                <img id="monitor" src="/images/monitor.png" alt="" class="responsive-img noSelect">
                <svg id="power" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="55px"
                    viewBox="0 0 50 55" enable-background="new 0 0 50 55" xml:space="preserve">
                    <g>
                        <path fill="#32CD32" d="M25.172,54.948c-13.785,0-25-11.215-25-24.999c0-10.417,6.562-19.842,16.327-23.454
		c1.177-0.436,2.484,0.166,2.92,1.343c0.436,1.178-0.166,2.485-1.343,2.92C10.086,13.714,4.718,21.426,4.718,29.949
		c0,11.278,9.176,20.454,20.455,20.454s20.455-9.176,20.455-20.454c0-8.462-5.317-16.155-13.231-19.143
		c-1.175-0.443-1.768-1.755-1.323-2.929c0.443-1.174,1.756-1.767,2.929-1.323c9.673,3.651,16.171,13.053,16.171,23.396
		C50.172,43.733,38.958,54.948,25.172,54.948z" />
                    </g>
                    <g>
                        <path fill="#32CD32" d="M25,34.242c-1.255,0-2-1.018-2-2.273V2.879c0-1.255,0.745-2.273,2-2.273c1.255,0,2,1.018,2,2.273v29.09
		C27,33.225,26.255,34.242,25,34.242z" />
                    </g>
                </svg>
                <div id="power__btn" data-power="on"></div>
                <img id="laptop-2" src="/images/laptop-2.png" alt="" class="responsive-img noSelect">
                <img id="tablet" src="/images/tablet.png" alt="" class="responsive-img noSelect">
                <img id="phone" src="/images/phone.png" alt="" class="responsive-img noSelect">
            </div>
        </div>
        <div class="col l6 xl6 hide-on-large-only">
            <img src="/images/laptop.webp" alt="" class="responsive-img noSelect">
        </div>
        <div class="col s12 l6 xl6">
            <div class="card-panel grey portfolio-cta">
                <h2 class="white-text">Fully responsive, custom designed websites.
                </h2>
                <a href="/portfolio" class="btn teal darken-3 right waves-effect waves-light"><i
                        class="material-icons right">play_arrow</i> View
                    Portfolio</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 lg4 xl4">
            <div class="card">
                <div class="card-title card__home">
                    <div class="card__vector">
                        <i class="fas fa-user-tie"></i>
                    </div>
                    <span class="teal-text text-darken-3 card-title">About Me</span>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo sequi asperiores
                        voluptatibus aspernatur commodi omnis veniam rerum corrupti nulla inventore? Dicta
                        cumque quae corporis nihil minus, ipsa nulla quasi dolorem!</p>
                </div>
                <div class="card-action">
                    <a href="/about" class="btn teal darken-3 right waves-effect waves-light"><i
                            class="material-icons right">play_arrow</i>Read More
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 lg4 xl4">
            <div class="card">
                <div class="card-title card__home">
                    <div class="card__vector">
                        <i class="fas fa-code"></i>
                    </div>
                    <span class="teal-text text-darken-3 card-title">Services</span>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo sequi asperiores
                        voluptatibus aspernatur commodi omnis veniam rerum corrupti nulla inventore? Dicta
                        cumque quae corporis nihil minus, ipsa nulla quasi dolorem!</p>
                </div>
                <div class="card-action">
                    <a href="/services" class="btn teal darken-3 right waves-effect waves-light"><i
                            class="material-icons right">play_arrow</i>Read More
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 lg4 xl4">
            <div class="card">
                <div class="card-title card__home">
                    <div class="card__vector">
                        <i class="fas fa-cogs"></i>
                    </div>
                    <span class="teal-text text-darken-3 card-title">Resources</span>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo sequi asperiores
                        voluptatibus aspernatur commodi omnis veniam rerum corrupti nulla inventore? Dicta
                        cumque quae corporis nihil minus, ipsa nulla quasi dolorem!</p>
                </div>
                <div class="card-action">
                    <a href="/resources" class="btn teal darken-3 right waves-effect waves-light"><i
                            class="material-icons right">play_arrow</i>Read More
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer }}