{{> header }}
<div class="container">

    <div class="row" style="margin-top: 25px">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>Filter by Technology</div>
                <div class="collapsible-body">

                    <div class="row">
                        <div class="col s12 m12 lg6 xl6">
                            <div class="portfolio-panel">
                                <h2 class="grey-text text-darken-2">
                                    < FRONT-END>
                                </h2>
                                <div class="card">
                                    <div class="card-content tech-content">
                                        <span class="card-title activator grey-text text-darken-4">Technology List<i
                                                class="material-icons right">more_vert</i></span>
                                        <div class="tech-wrapper">
                                            <div class="btn grey lighten-1 btn-tech black-text waves-effect">
                                                <i class="devicon-html5-plain colored small left"></i>HTML5
                                            </div>
                                            <div class="btn grey lighten-1 btn-tech black-text waves-effect">
                                                <i class="devicon-css3-plain colored small left"></i>CSS3
                                            </div>
                                            <div class="btn grey lighten-1 btn-tech black-text waves-effect">
                                                <i class="devicon-javascript-plain colored small left"></i>VanillaJS
                                            </div>
                                        </div>
                                        <div class="tech-wrapper">
                                            <div class="btn grey lighten-1 btn-tech black-text waves-effect">
                                                <i class="devicon-jquery-plain colored small left"></i>jquery
                                            </div>
                                            <div class="btn grey lighten-1 btn-tech black-text waves-effect">
                                                <i class="devicon-bootstrap-plain colored small left"></i>Bootstrap
                                            </div>
                                            <div class="btn grey lighten-1 btn-tech black-text waves-effect">
                                                <img class="left" src="/images/materialize.svg"
                                                    style="width:25px; margin-right:10px; position:relative; top: 11px">materialize
                                            </div>
                                        </div>
                                        <div class="tech-wrapper">
                                            <div class="btn grey lighten-1 btn-tech black-text waves-effect disabled">
                                                <i class="devicon-react-original colored small left"></i>React
                                            </div>
                                            <div class="btn grey lighten-1 btn-tech black-text waves-effect disabled">
                                                <i class="devicon-sass-original colored small left"></i>Sass
                                            </div>
                                            <div class="btn grey lighten-1 btn-tech black-text waves-effect disabled">
                                                <i class="devicon-vuejs-plain colored small left"></i>Vuejs
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Instructions<i
                                                class="material-icons right">close</i></span>
                                        <p class="card-reveal-text">Click the button to filter projects by featured
                                            technology</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m12 lg6 xl6">
                            <div class="portfolio-panel">
                                <h2 class="grey-text text-darken-2">{ BACK-END }</h2>
                                <div class="card">
                                    <div class="card-content tech-content">
                                        <span class="card-title activator grey-text text-darken-4">Technology List<i
                                                class="material-icons right">more_vert</i></span>
                                        <div class="tech-wrapper">
                                            <div class="btn grey lighten-1 btn-tech black-text waves-effect">
                                                <img class="left" src="/images/firebase.svg"
                                                    style="width:20px; margin-right:10px; position:relative; top: 8px">firebase
                                            </div>
                                            <div class="btn grey lighten-1 btn-tech black-text waves-effect">
                                                <i class="devicon-php-plain colored small left"></i>PHP
                                            </div>
                                            <div class="btn grey lighten-1 btn-tech black-text waves-effect disabled">
                                                <i class="devicon-nodejs-plain small left white-text"></i>NODEJS
                                            </div>
                                        </div>
                                        <div class="tech-wrapper">
                                            <div class="btn grey lighten-1 btn-tech black-text waves-effect disabled">
                                                <i class="devicon-mongodb-plain colored small left"></i>MongoDB
                                            </div>
                                            <div class="btn grey lighten-1 btn-tech black-text waves-effect disabled">
                                                <i class="devicon-mysql-plain colored small left"></i>MySQL
                                            </div>
                                            <div class="btn grey lighten-1 btn-tech black-text waves-effect disabled">
                                                <i class="devicon-ruby-plain colored small left"></i>Ruby
                                            </div>
                                        </div>
                                        <div class="tech-wrapper">
                                            <div class="btn grey lighten-1 btn-tech black-text waves-effect disabled">
                                                <i class="devicon-sequelize-plain colored small left"></i>sequelize
                                            </div>
                                            <div class="btn grey lighten-1 btn-tech black-text waves-effect disabled">
                                                <i class="devicon-webpack-plain colored small left"></i>webpack
                                            </div>
                                            <div class="btn grey lighten-1 btn-tech black-text waves-effect disabled">
                                                <i class="devicon-python-plain colored small left"></i>Python
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Instructions<i
                                                class="material-icons right">close</i></span>
                                        <p class="card-reveal-text">Click the button to filter projects by featured
                                            technology</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--./row -->


                </div>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col s12 m12 lg4 xl4">
            {{#each projects}}
            <li>
               {{this.name}}
            </li>
            {{/each}}
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 lg4 xl4 s4">
            <div class="portfolio__card">
                <div class="portfolio__card__side portfolio__card__side--front">
                    <div class="portfolio__card__picture portfolio__card__picture--1">
                        <img src="/images/this.jpg" alt="image">
                    </div>
                    <h4 class="portfolio__card__heading">

<<<<<<< HEAD
                    </h4>
                    <div class="portfolio__card__details">

                    </div>
                </div>
                <div class="portfolio__card__side portfolio__card__side--back portfolio__card__side--back-1">
                    <div class="portfolio__card__cta">
                        <div class="portfolio__card__price-box">
                            <p class="portfolio__card__price-only">Only</p>
                            <p class="portfolio__card__price-value">$297</p>
=======
                            </div>
                        </div>
                        <div class="portfolio__card__side portfolio__card__side--back portfolio__card__side--back-1">
                            <div class="portfolio__card__cta">

                            </div>
>>>>>>> 234820df2edef350e0e18189489c199b4cc12cfd
                        </div>
                        <a href="#!" class="btn btn--white portfolio__card__btn">Book now!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 lg4 xl4 s4">
            <div class="portfolio__card">
                <div class="portfolio__card__side portfolio__card__side--front">
                    <div class="portfolio__card__picture portfolio__card__picture--1">
                        <img src="/images/tactapp.jpg" alt="image">
                    </div>
                    <h4 class="portfolio__card__heading">

<<<<<<< HEAD
                    </h4>
                    <div class="portfolio__card__details">

                    </div>
                </div>
                <div class="portfolio__card__side portfolio__card__side--back portfolio__card__side--back-1">
                    <div class="portfolio__card__cta">
                        <div class="portfolio__card__price-box">
                            <p class="portfolio__card__price-only">Only</p>
                            <p class="portfolio__card__price-value">$297</p>
=======
                            </div>
                        </div>
                        <div class="portfolio__card__side portfolio__card__side--back portfolio__card__side--back-1">
                            <div class="portfolio__card__cta">

                            </div>
>>>>>>> 234820df2edef350e0e18189489c199b4cc12cfd
                        </div>
                        <a href="#!" class="btn btn--white portfolio__card__btn">Book now!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 lg4 xl4 s4">
            <div class="portfolio__card">
                <div class="portfolio__card__side portfolio__card__side--front">
                    <div class="portfolio__card__picture portfolio__card__picture--1">
                        <img src="/images/triviagame.jpg" alt="image">
                    </div>
                    <h4 class="portfolio__card__heading">

<<<<<<< HEAD
                    </h4>
                    <div class="portfolio__card__details">

                    </div>
                </div>
                <div class="portfolio__card__side portfolio__card__side--back portfolio__card__side--back-1">
                    <div class="portfolio__card__cta">
                        <div class="portfolio__card__price-box">
                            <p class="portfolio__card__price-only">Only</p>
                            <p class="portfolio__card__price-value">$297</p>
=======
                            </div>
                        </div>
                        <div class="portfolio__card__side portfolio__card__side--back portfolio__card__side--back-1">
                            <div class="portfolio__card__cta">

                            </div>
>>>>>>> 234820df2edef350e0e18189489c199b4cc12cfd
                        </div>
                        <a href="#!" class="btn btn--white portfolio__card__btn">Book now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!--./container -->

{{> footer }}