.card {

    &__vector {
        background: #e4e4e4;
        border: 5px solid grey;
        width: 150px;
        height: 150px;
        line-height: 140px;
        border-radius: 50%;
        margin:auto;

        & i {
            line-height: inherit;
            display: block;
            text-align: center;
            font-size: 6rem;
            color: grey;
        }        
    }
    &-content {
        p {
            line-height: 1.5;
        }
    }
    &__home {
        padding-top: 2rem;

        & span {
            display: block;
            margin-top: 2rem;
            text-align: center;
        }
    }
}


.portfolio__card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 44rem; 
    margin-bottom: 2rem; 

    &__side {       
        
        font-size: 2rem;
        height: 44rem; 
        transition: all 1s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
            z-index: 2;
        }

        &--back {            
            transform: rotateY(180deg);
            z-index: 1;
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;      
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); 
        
        & img {
            width: 100%;
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: capitalize;
        color: $color-grey-light;
        position: absolute;
        top: 19.5rem;
        left: 0;
        text-align: left;
        width: 75%;
        background-color: $color-primary;
        padding: 1rem 2rem;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 3px 3px 5px $color-grey-dark-2;
    }

    &__details {
        margin-top: 3.75rem;
        padding: 0 3rem;
        height: 6.5rem;        
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
    }

    &__tags {
        margin: 1rem 1.5rem;
        padding: 1.5rem;
        border: 1px solid $color-grey-dark-2;
        border-radius: 4px;
        background-color: $color-grey-light;
    }

    // BACK SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;

        & i {
           margin: 2rem; 
        }
                
    }
}