@keyframes moveInLeft {
    0% {           
        transform: translateX(-100px);
    }

    80% {        
        transform: translateX(10px)
    }

    100% {
        visibility: visible;    
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {           
        transform: translateX(150px);
    }

    80% {        
        transform: translateX(-10px)
    }

    100% {
        visibility: visible;    
        transform: translate(0);
    }
}

@keyframes moveInFarRight {
    0% {           
        transform: translateX(300px);
    }

    80% {        
        transform: translateX(-10px)
    }

    100% {
        visibility: visible;    
        transform: translate(0);
    }
}

@keyframes moveInTop {
    0% {           
        transform: translateY(-300px) rotate(3deg);
        
    }

    70% {        
        transform: translateY(0) rotate(3deg);
    }

    75% {
        transform: translateY(-10px) rotate(1deg);
    }

    100% {
        visibility: visible;    
        transform: translate(0);
        transform: rotate(0);
    }
}